
<h2>Hello from HomeController Index View</h2>

@(await Component.InvokeAsync("WebApplication1.Components.ColorComponent"))
@(await Component.InvokeAsync("ClassLibrary1.ExternalComponents.VacationComponent"))
